In [1]:
#Python Strings
print ("Hello World")

Hello World

In [2]:
#Accessing indvidual letters
a='hello'
print(a)

a="Hello, World!"
print(a[2:5])

hello
llo

In [3]:
#String Functions
a="Hello, World!"

#len(a) will return the length of the string 
print(len(a))

#the upper() method is used to convert the string to uppercase
print(a.upper())

#The lower() method converts all characters in the string to lowercase
print(a.lower())

#the replace() method is used to replace
print(a.replace("H","J"))

13
HELLO, WORLD!
hello, world!
Jello, World!

In [4]:
#String Concatenation

a= "hello"
b="world"
c= a+"  "+b
print(c)

hello  world

In [5]:
# String are Immutable
my_string = "Alekya Kudumula"
 
# Attempt to modify the string
my_string[0] = 'Reddy' 

#this will give an typeError

TypeError: 'str' object does not support item assignment

In [9]:
#String Slicing
#You can return a range of characters by using the slice syntax
#Slicing format: string[start : end]

my_string = "Alekya Kudumula"
print(my_string[2:5])

#Slice from the start
print(my_string[:5])

#Slice to the end
print(my_string[2:])

#Negative Indexing:Use negative indexes to start the slice from the end of the string
print(my_string[-5:-2])

eky
Aleky
ekya Kudumula
umu

In [15]:
#String Methods

#isalnum():Returns True if all characters in the string are alphanumeric
name="olivia"
x = name.isalnum()
print(x)

#isalpha():Returns True if all characters in the string are in the alphabet
name="olivia"
x = name.isalpha()
print(x)

#isdigit():Returns True if all characters in the string are digits
name="olivia"
x = name.isdigit()
print(x)

#islower():Returns True if all characters in the string are lower case
name="olivia"
x = name.islower()
print(x)

#isupper():Returns True if all characters in the string are upper case
name="olivia"
x = name.isupper()
print(x)

#isspace():Returns True if all characters in the string are whitespaces
name="olivia"
x = name.isspace()
print(x)

#endswith():Returns true if the string ends with the specified value
txt = "Olivia is beautiful."
x = txt.endswith("beautiful.")
print(x)

#startswith():Returns true if the string starts with the specified value
txt = "Olivia is beautiful."
x = txt.startswith("beautiful")
print(x)

#find():Searches the string for a specified value and returns the position of where it was found
txt = "Olivia is beautiful."
x = txt.find("beautiful")
print(x)

#replace():Returns a string where a specified value is replaced with a specified value
txt = "Olivia is beautiful."
x = txt.replace("beautiful", "gorgeous")
print(x)

True
True
False
True
False
False
True
False
10
Olivia is gorgeous.

In [18]:
#Splitting a String
#split method: returns a list containing the words in the string

my_string = 'One Two Three Four'
word_list = my_string.split()
word_list

['One', 'Two', 'Three', 'Four']

In [19]:
my_string='1/2/3/4'
number_list = my_string.split()
number_list

['1/2/3/4']

In [20]:
my_string='1/2/3/4'
number_list = my_string.split('/')
number_list

['1', '2', '3', '4']

In [21]:
#String Tokens
str =' banana blueberry chocolate'
tokens = str.split()
tokens

['banana', 'blueberry', 'chocolate']

In [22]:
my_address= '225.Taft.Avenue'
tokens=my_address.split('.')
tokens

['225', 'Taft', 'Avenue']